$error-background-color: #f44336;
$error-text-color: #fffffc; 

.error-container {
    background-color: $error-background-color;  
    padding-bottom: 10px;    

    h3 {
        padding-top: 20px;
        padding-left: 20px;
    }

    & > * {
        color: $error-text-color;
    }
}